:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--background-green: #003118;
    --background-green-gradient: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(22,109,59,1) 100%);
    --text-green:hsl(130, 100%, 70%);
	--text-shadow: rgb(6, 12, 3) 0px 1px 3px;
	--text-shadow-secondary: 5px 5px 12px black;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
@font-face {
    font-family: 'Nunito';
    src: url('/src/assets/fonts/nunito-v25-latin-regular.woff2') format('woff2'),
    url('/src/assets/fonts/nunito-v25-latin-regular.woff') format("woff"),
    url('/src/assets/fonts/nunito-v25-latin-regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Aboreto';
    src: url('/src/assets/fonts/aboreto-v2-latin-regular.woff2') format('woff2'),
    url('/src/assets/fonts/aboreto-v2-latin-regular.woff') format("woff"),
    url('/src/assets/fonts/aboreto-v2-latin-regular.eot') format("eot"),
    url('/src/assets/fonts/aboreto-v2-latin-regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Martel';
    src: url('/src/assets/fonts/martel-v10-latin-regular.woff2') format('woff2'),
    url('/src/assets/fonts/martel-v10-latin-regular.woff') format("woff"),
    url('/src/assets/fonts/martel-v10-latin-regular.eot') format("eot"),
    url('/src/assets/fonts/martel-v10-latin-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Quattrocento Sans';
    src: url('/src/assets/fonts/quattrocento-sans-v18-latin-regular.woff2') format('woff2'),
    url('/src/assets/fonts/quattrocento-sans-v18-latin-regular.woff') format("woff"),
    url('/src/assets/fonts/quattrocento-sans-v18-latin-regular.eot') format("eot"),
    url('/src/assets/fonts/quattrocento-sans-v18-latin-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Dandelion Soup';
    src: url('/src/assets/fonts/Dandelion-Soup.ttf') format("truetype");
}

@font-face {
    font-family: 'NT Mikella';
    src: url('/src/assets/fonts/NT-Mikella.otf') format("opentype");
}
@font-face {
    font-family: 'NT Mikella Bold';
    src: url('/src/assets/fonts/NT-Mikella-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'NT Mikella Regular';
    src: url('/src/assets/fonts/NT-Mikella-Bold.otf') format("opentype");
}

