:root {
	--white: #FFFFFF;
	--black: #000000;
	--very-light-pink: #C7C7C7;
	--text-input-field: #F7F7F7;
	--background-green: #073100;
	--text-green:hsl(130, 100%, 70%);
	--text-shadow: rgb(6, 12, 3) 0px 1px 3px;
	--text-shadow-secondary: 5px 5px 12px black;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
}
