@import 'vars';

#acercadeContainer{
    background: whitesmoke;
    display: grid;
    place-items: center;
    background: #166D3B;
}
#acercadeTexto{
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: left;
    background: rgb(0,0,0);
    background: var(--background-green-gradient);
    color: azure;
    text-shadow: 5px 5px 12px black;  
    width: -webkit-fill-available;
}
#tituloAcercade{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Aboreto', cursive;
}
#textoAcercade{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
#cardAcercadeSection{
    display: grid;
    place-items: start center;
    justify-content: center;
    background-color: black;
}

#cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    width: 90%;
    z-index: 1;
}
.cardAcercaDe{    
    background-color: white;
    border: 1px gray solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    padding:10px;
}
.cardIcon{
    width: 175px;
}
.cardTitulo{
    text-transform: uppercase;
    font-size: 40px;   
    font-family: 'Aboreto', cursive;
    font-weight: 600;
}
.cardSubtitulo{
    margin-top: 5px;
    font-size: 20px;    
    font-family: 'Nunito', sans-serif;
}
.cardLista{
    list-style: none;
    margin-top: 5% ;    
    font-family: 'Nunito', sans-serif;
    padding: 0px;
}
.cardListaElemento{
    text-transform: capitalize;
    font-size: 20px;
}
#cardFrontend{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

#cardDesing{   
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;    
}

@media (max-width: 420px) {
    #acercadeTexto{
        padding-right: 10px;
        padding-left: 10px;
    }
    #tituloAcercade{
        font-size: 9vw;
    }
    #textoAcercade{
        font-size: 5vw;
    }
    .cardTitulo{
        font-size: 8vw;
    }
    .cardSubtitulo{
        font-size: 5.5vw;
    }
    .cardListaElemento{
        font-size: 5vw;
    }    
}
@media (min-width: 840px) {
    #cardContainer{
        flex-direction: row;        
        height: 100%;
    }
    #tituloAcercade{
        font-size: 40px;
    }
    #textoAcercade{
        font-size: 22px;
    }
    .cardAcercaDe{
        display: flex;
        align-items: center;
        padding: 3%;
        height: 100%;
        padding-bottom: 75px;
    }
    .cardTitulo{
        font-size: 30px;
    }
    .cardSubtitulo{
        font-size: 20px;
    }
    .cardListaElemento{
        font-size: 20px;
    }
    #cardFrontend{               
        border-top-right-radius: 0%;
        border-top-left-radius: 10% 5%; 
        border-bottom-left-radius: 10% 5%; 
    }
    #cardBackend{   
        margin-left: -1px;    
        margin-right: -1px; 
    }
    #cardDesing{   
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 10% 5%;
        border-top-right-radius: 10% 5%;    
    }
}

