#carouselTrabajo{
    z-index: 1;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    border-radius: 15px;
    overflow: hidden;
}

.captionCarousel{
    background-color: black;
    filter: opacity(90%);
    width: 800px;
    margin-left: -120px;
}
.captionCarousel h3{
    filter: opacity(100%);
}

.imageCarousel{
    filter: opacity(80%) brightness(90%);
    animation: enableFilter 1s;
}
.imageCarousel:hover{
    animation: disableFilter 1s;
    cursor: pointer;
    filter: none;
}
@keyframes disableFilter {
    0%{
        filter: opacity(80%) brightness(90%);
    }
    100%{
        filter: none;
    }
}
@keyframes enableFilter {
    0%{
        filter: none;
    }
    100%{
        filter: opacity(80%)  brightness(90%);
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
    border-radius: 10px;
}

.captionCarousel h3{
    margin-left: 5px;
    margin-right: 5px;
}
.captionCarousel p{
    margin-left: 5px;
    margin-right: 5px;
}
.carousel-indicators{
    margin: 0;
}

@media (min-width:0px) {
    #carouselTrabajo{
        display: none;
    }
}

@media (min-width:420px) {    
    #carouselTrabajo{
        display: flex;
        width: 450px;
    }
    .captionCarousel{
        width: 450px;
        height: 100px;
        margin-left: -67px;       
    }
    .captionCarousel h3{
        font-size: large;
    }
    .captionCarousel p{
        font-size: small;
    }
    .imageCarousel{
        filter: none;
        animation: none;
    }
    .imageCarousel:hover{
        filter: none;
        animation: none;
    }
}

@media (min-width:640px) {
    
}

@media (min-width:860px) {
    #carouselTrabajo{
        width: 600px;
    }
    .captionCarousel{
        width: 600px;
        height: 100px;
        margin-left: -90px;       
    }
    
}

@media (min-width:1007px) {
}

@media (min-width:1366px) {
    
}