.contenidoContacto{
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    color:white;
    background-color: black;
    margin-top: -5px;
}
.tituloContacto{
    padding-bottom: 10px;
    padding-top: 10px;
}
.textoContacto{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}