@import 'vars';
html{
    height: 100%;
}

#home{
    background: url("https://blz04pap001files.storage.live.com/y4mHctaSEWAFh5pXrjjvJ4m9WaTpLH7SKFgRN5SKUFRWT3xyMztJw6KALn3NAy853A2Jvg7XpJOXuSqjYV4goQl2WJq6QQlkjQq0VvCgs9l2pYpGD8eNSRS_p19G2Hse9t8rZ7HO3f8gqM-Lk5hynHFRhkdKLSlhpPLB9yQnszCZPgAs4vYAHDTxTvgyTmCnAJ8?width=1191&height=1191&cropmode=none");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    align-items: center;
    background-color: black;
    background-position: top;
}

#homeList {
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    font-family: 'NT Mikella Bold';    
    letter-spacing: 2px;
}

#homeList a {    
    text-decoration: none;
    color: white;
}
#homeList a:hover {    
    opacity: 0.8;
}

/* Estilos para resolución menor a 480px */
@media (max-width: 580px) {
    #homeList{
       padding-top: 60vw;       
       font-size: 18px;
    }
  }
  
  /* Estilos para resolución mayor a 2020px */
  @media (min-width: 580px){
    #homeList{
        justify-content: center;
        padding-top: 230px;
        font-size: 22px;
    }
  }