@import 'vars';

.pageSelector{
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.pageSelector li{
    width: 50%;    
    height:100%;
    list-style: none;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageSelector li a {
    color:black;
    text-decoration: none;
    text-align: center;
}

.serghipPage{
    background: rgb(4,97,159);
background: radial-gradient(circle, rgba(4,97,159,1) 0%, rgba(0,0,0,1) 100%);
    font-size: 3.9vw;    
    text-shadow: var(--text-shadow);    
    text-transform: uppercase;    
    font-family: 'Aboreto', cursive;
    transition: width 2s;
}
.serghipPage:hover{
    width: 85%;
}

.portfolioPage{
    background: rgb(22,109,59);
    background: radial-gradient(circle, rgba(22,109,59,1) 0%, rgba(0,0,0,1) 100%);
    font-size: 3.9vw;
    text-shadow: var(--text-shadow);
    font-family: 'Aboreto', cursive;
    transition: width 2s;
}
.portfolioPage:hover{
    width: 85%;
}

