@import 'vars';
.custom-shape-divider-top-1669478699 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669478699 svg {
    position: relative;
    display: block;
    width: calc(188% + 1.3px);
    height: 42px;    
    background-color: var(--background--green);
}

.shape-fill{   
    fill: #F5F5F5;
}

#svg1{    
    width: calc(188% + 1px);
    animation: shapeMove 40s infinite linear ;    
    transform: rotateY(180deg);
}
#svg2{    
    width: calc(288% + 1px);
    animation: shapeMove2 40s infinite linear ;
    margin-left: calc(-188% - 1.3px);
    margin-top: -42px;    
}

@keyframes shapeMove {
    0%{
        margin-left: 0%;
    }
    100%{
        margin-left: calc(188% + 1.3px);
    }
}
@keyframes shapeMove2 {
    0%{
        margin-left: calc(-188% - 1.3px);
    }
    100%{
        margin-left: 0%;
    }
}
