@import 'vars';

.contenidoTrabajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: var(--text-shadow-secondary);
    background-color: var(--background-green);
    padding-top: 50px;   
    border-top: 1px black solid;
    overflow: hidden;
    }
.trabajoTexto{
    text-align: center;
    z-index: 1; 
    width: -webkit-fill-available;
}
.tituloTrabajo{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom:10px;    
    font-size: 40px;
    font-family: 'Aboreto', cursive;      
    margin-right: 10%;      
    z-index: 1;     
    text-align: end; 
}
.textoTrabajo{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;   
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

#separadorTrabajo {    
    background: var(--background-green);    
    display: flex;
    z-index: 1;
}

#pathSeparadorTrabajo {
    filter: drop-shadow(0px 0 10px black);
}

@media (min-width:420px) {
    #separadorTrabajo{
        margin-top: -90px ;
    }
}

@media (min-width:640px) {
    #separadorTrabajo{
        margin-top: -150px ;
    }
}

@media (min-width:860px) {
    #separadorTrabajo{
        margin-top: -200px ;
    }
}

@media (min-width:1007px) {
    #separadorTrabajo{
        margin-top: -225px ;
    }
}

@media (min-width:1240px) {
    #separadorTrabajo{
        margin-top: -275px;
    }
}

@media (min-width:1366px) {
    #separadorTrabajo{
        margin-top: -350px;
    }
}